<div class="category-menu">
  <h3>Category</h3>
  <ul>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/vegetable.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Vegetables & Fruit</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/cup.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Beverages</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/meats.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Meats & Seafood</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/breakfast.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Breakfast & Dairy</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/frozen.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Frozen Foods</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/biscuit.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Biscuits & Snacks</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/grocery.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Grocery & Staples</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/drink.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Wines & Alcohol Drinks</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <img src="../assets/svg/1/milk.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Milk & Dairies</a>
        </h5>
      </div>
    </li>
    <li class="pb-30">
      <div class="category-list">
        <img src="../assets/svg/1/pet.svg" class="blur-up lazyload" alt="">
        <h5>
          <a href="shop-left-sidebar.html">Pet Foods</a>
        </h5>
      </div>
    </li>
  </ul>

  <ul class="value-list">
    <li>
      <div class="category-list">
        <h5 class="ms-0 text-title">
          <a href="shop-left-sidebar.html">Value of the Day</a>
        </h5>
      </div>
    </li>
    <li>
      <div class="category-list">
        <h5 class="ms-0 text-title">
          <a href="shop-left-sidebar.html">Top 50 Offers</a>
        </h5>
      </div>
    </li>
    <li class="mb-0">
      <div class="category-list">
        <h5 class="ms-0 text-title">
          <a href="shop-left-sidebar.html">New Arrivals</a>
        </h5>
      </div>
    </li>
  </ul>
</div>