<header>
  <div class="top-header">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-12">
          <nav
            class="navbar custom-navbar navbar-expand-xl navbar-light justify-content-start"
          >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="front-end/index.html" target="_blank">
              <img src="assets/images/landing-image/logo.png" alt="" />
            </a>
            <button
              onclick="location.href = 'https://themeforest.net/user/pixelstrap/portfolio';"
              class="btn-md btn-md-animation ms-xl-0 ms-auto order-xl-2"
            >
              Buy Now <i class="fa-solid fa-right-long icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#demo">Demo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#template">Template features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pages">Pages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#core">Core Feature</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="document/index.html"
                    >Documentation</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
